*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background-color: rgb(73, 33, 167);
    color: white;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    
}
.container{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    
}
.container h1{
    text-align: center;
    margin: 20px 0;
}
.container .het{
    margin-bottom: 20px;
    height: 40px;
    border-radius: 6px;
    border: none;
    padding: 5px;
    font-size: 20px;
    background-color: aqua;
    color: #000;
    font-weight: bold;
}
.container .btn  {
    background-color:rgb(33, 123, 241);
    cursor: pointer;
}
.container .btn:hover{
    opacity: 0.7;
}
.container .resultado{
    background-color: aqua;
    height: 40px;
    padding: 5px;
    border-radius: 6px;
    border: none;
    color: #000;
    font-size: 20px;
}
.contente{
    margin-top: 50px;
    border: 2px solid #217bf1;
    border-radius: 6px;
    height: 20vh;
}
table {
    width: 100% ;
    text-align: center;
}
